.modal {
    display: block; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    &_content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        min-height: 30%;
    }
  }

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.actions {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    &_button {
        margin: 0 10px;
        cursor: pointer;
        padding: 6px 12px;
        font-size: 14px;
    }
}
